@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lora&family=Poppins:wght@500;600;700&display=swap');


body{
 font-family: 'Courgette', cursive;
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
}

.best-seller{
    transform:scaleY(1.2);
    background:#3F87F5;
    color: #fff;
    border-radius: 30px;
   
}


.pakage-color{
color: #231D4F;
}
.offer-color{
color:#848199;
}

.bg-card-color{
background: rgba(219, 209, 215, 0.5);
}
